@import 'tailwindcss';

@theme {
    --breakpoint-phone: 500px;
    --breakpoint-tablet: 700px;
    --breakpoint-laptop: 900px;
    --breakpoint-desktop: 1100px;
    --breakpoint-large: 1300px;  
}

.agerrbggradient {
    @apply bg-gradient-to-tr from-sky-400 via-indigo-500 to-purple-400 bg-[length:200%_200%] bg-left hover:bg-right focus-visible:bg-right text-white group-hover:text-sky-100 group-focus-visible:text-sky-100
}

.agerr a {
    @apply focus-visible:decoration-sky-400 focus-visible:decoration-2 active:text-sky-400
}

.agerr button {
    @apply transition-all
}

.agerr .bgbackdrop {
    @apply fixed w-full h-[100dvh] top-0 bg-slate-800/30 backdrop-blur-xs z-50  justify-center items-center
}




/* 
    ====================
    
        NAV STYLE
    
    ====================
*/
.agerr nav * {
    @apply phone:transition-all
}
.agerr nav {
    @apply text-slate-800 w-full max-w-[1000px] px-4 text-nowrap
}
.agerr nav .text {
    @apply text-xs font-semibold tracking-wide leading-[1.2] align-middle
}
.agerr nav .specialbutton {
    @apply focus-visible:bg-sky-100 focus-visible:ring-2 focus-visible:ring-sky-500 bg-white hover:bg-slate-200
}

/* 
    ====================
    
        FOOTER STYLE
    
    ====================
*/
.agerr footer {
    @apply w-full flex flex-col items-center justify-center bg-slate-50 z-20 select-none whitespace-nowrap
}
.agerr footer a {
    @apply hover:underline focus-visible:underline
}
.agerr footer .text {
    @apply text-xs font-semibold tracking-wide
}
.agerr footer .fullwiddhcover {
    @apply bg-white w-full flex justify-center border-y border-slate-300 py-2
}
.agerr footer .container{
    @apply px-8 w-full max-w-[900px] text-slate-800
}
.agerr footer .links  {
    @apply grid max-phone:grid-cols-2 phone:grid-cols-9 tablet:grid-cols-11 laptop:grid-cols-12 
}
.agerr footer .links .title {
    @apply mb-4 text-base font-bold text-slate-800
}
.agerr footer .links > .link {
    @apply phone:col-span-2 my-4
}
/* .agerr footer .links .link ul  {
    @apply font-semibold text-xs tracking-wide
} */
.agerr footer .links .link ul li {
    @apply my-1.5 text-slate-800/50
}
.agerr footer .links .link ul li a {
    @apply text-slate-800/75 active:text-sky-400
}