@import 'tailwindcss';

@theme {
    --breakpoint-phone: 500px;
    --breakpoint-tablet: 700px;
    --breakpoint-laptop: 900px;
    --breakpoint-desktop: 1100px;
    --breakpoint-large: 1300px;  
}

.agerrbggradient {
    @apply bg-gradient-to-tr from-sky-400 via-indigo-500 to-purple-400 bg-[length:200%_200%] bg-left hover:bg-right focus-visible:bg-right text-white group-hover:text-sky-100 group-focus-visible:text-sky-100
}

.agerr a {
    @apply focus-visible:decoration-sky-400 focus-visible:decoration-2 active:text-sky-400 focus-visible:text-sky-400
}

.agerr button {
    @apply transition-all
}

.agerr .bgbackdrop {
    @apply fixed w-full h-[100dvh] top-0 bg-slate-800/30 backdrop-blur-xs z-50  justify-center items-center
}

.agerr .bgbackdroplow {
    @apply fixed w-full h-[100dvh] top-0 bg-slate-800/30 backdrop-blur-xs z-15  justify-center items-center
}




.agerr .tablebutton {
    @apply w-[70px] laptop:w-[100px] aspect-[7/8] laptop:aspect-8/7 bg-white rounded-lg cursor-pointer border border-slate-300 relative hover:drop-shadow-lg/10 hover:-translate-y-0.25 focus-visible:drop-shadow-lg/10 focus-visible:-translate-y-0.25 active:translate-0 active:drop-shadow-none
}

.agerr .dashboard * {
    @apply transition-all
}

.agerr .sidebar * {
    @apply transition-all
}

.agerr .board * {
    @apply transition-none
}


/* 
    ====================
    
        NAV STYLE
    
    ====================
*/
.agerr nav * {
    @apply phone:transition-all
}
.agerr nav {
    @apply text-slate-800 w-full max-w-[1000px] px-4 text-nowrap
}
.agerr nav .text {
    @apply text-xs font-semibold tracking-wide leading-[1.2] align-middle
}
.agerr nav .specialbutton {
    @apply focus-visible:bg-sky-100 focus-visible:ring-2 focus-visible:ring-sky-500 bg-white hover:bg-slate-200
}

/* 
    ====================
    
        FOOTER STYLE
    
    ====================
*/
.agerr footer {
    @apply w-full flex flex-col items-center justify-center bg-slate-50 z-20 select-none whitespace-nowrap
}
.agerr footer a {
    @apply hover:underline focus-visible:underline
}
.agerr footer .text {
    @apply text-sm tablet:text-xs tracking-wide
}
.agerr footer .fullwiddhcover {
    @apply bg-white w-full flex justify-center border-y border-slate-300 py-2 max-tablet:pl-4
}
.agerr footer .container{
    @apply tablet:px-8 w-full max-w-[900px] text-slate-800
}
.agerr footer .links  {
    @apply tablet:flex tablet:justify-between
}
.agerr footer .links .title {
    @apply tablet:mb-4 text-base font-bold text-slate-800 max-tablet:border-b max-tablet:border-slate-300 max-tablet:px-4 max-tablet:pb-4 max-tablet:flex max-tablet:justify-between max-tablet:items-center text-start w-full focus-visible:text-sky-400 max-tablet:cursor-pointer
}
.agerr footer .links > .link {
    @apply my-4 min-w-[115px]
}
.agerr footer .links .link ul  {
    @apply max-tablet:px-6 max-tablet:pb-7 max-tablet:pt-3.5
}
.agerr footer .links .link ul li {
    @apply py-[3px] text-slate-800/40 max-tablet:my-2
}
.agerr footer .links .link ul li a {
    @apply text-slate-800 active:text-sky-400 focus-visible:text-sky-400
}
.agerr footer .straightline {
    @apply w-full tablet:flex tablet:justify-center font-normal text-sm mt-12 max-tablet:pl-6 
}
.agerr footer .straightline .notlast {
    @apply tablet:border-r-1 tablet:border-slate-300 tablet:mr-4 tablet:pr-4 max-tablet:my-4
}