@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Coming+Soon&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap'); */

@theme {
    --color-mainred: #ff7261;
    --color-mainlight: #f8f9fa;

    /* FONT */
    --font-caveat: "Caveat", cursive;
    --font-coming: "Coming Soon", cursive;
    --font-bebas: "Bebas Neue", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-eb: "EB Garamond", serif;

    --breakpoint-xs: 500.1px;
    --breakpoint-sm: 700px;
    --breakpoint-md: 900px;
    --breakpoint-lg: 1100px;
    --breakpoint-xl: 1300px;  
}

.nodrag {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: auto;
}

body {
    @apply text-sm font-open-sans text-slate-900 duration-150
}

* {
    @apply transition-all outline-none
}

.button {
    @apply focus-visible:bg-sky-100 focus-visible:ring-2 focus-visible:ring-sky-500
}

a.link {
    @apply hover:underline focus-visible:underline
}

.agerrbackblur {
    @apply fixed w-full h-[100dvh] top-0 bg-slate-900/60 backdrop-blur-xs z-50  justify-center items-center
}

.agerrcontainer {
    @apply w-full max-w-[800px]
}

.agerrlongercontainer {
    @apply w-full max-w-[1000px]
}

.agerrlongestcontainer {
    @apply w-full max-w-[1200px]
}

.agerrp {
    @apply tracking-wide text-base
}

.agerrh2 {
    @apply text-[32px] font-outfit font-bold leading-none mb-2
}

.agerrh3 {
    @apply text-[18px] font-outfit leading-none mb-1 tracking-wide font-semibold
}

.agerrh4 {
    @apply text-[16px] font-outfit leading-none mb-1 tracking-wide
}

.agerrh5 {
    @apply text-[14px] font-outfit leading-none mb-1 tracking-wide font-semibold
}

.agerrbggradient {
    @apply bg-gradient-to-tr from-sky-400 via-indigo-500 to-purple-400 bg-[length:200%_200%] bg-left hover:bg-right focus-visible:bg-right text-white group-hover:text-sky-100 group-focus-visible:text-sky-100
}

.agerrborder {
    @apply border border-slate-300 rounded-xl
}

.agerrtablebutton {
    @apply w-[100px] aspect-5/4 bg-white rounded-lg cursor-pointer border border-slate-300 relative hover:drop-shadow-lg/10 hover:-translate-y-0.25 focus-visible:drop-shadow-lg/10 focus-visible:-translate-y-0.25
}

.agerrboxfeature {
    @apply w-full aspect-square bg-white rounded-lg cursor-pointer border border-slate-300 relative hover:drop-shadow-xl/10 hover:-translate-y-1 focus-visible:drop-shadow-xl/10 focus-visible:-translate-y-1 flex flex-col justify-center items-center hover:ring hover:ring-indigo-500 focus-visible:ring focus-visible:ring-indigo-500
}

.agerrnonboxfeature {
    @apply w-full aspect-square bg-white rounded-lg border border-slate-300 relative
}

.lableinput {
    @apply text-slate-400 translate-y-[calc(2.2em-2px)] translate-x-[2em]
}